div#n2-ss-2 {
  width: 1920px;
  float: left;
  margin: 0px 0px 0px 0px;
}
html[dir="rtl"] div#n2-ss-2 {
  float: right;
}
div#n2-ss-2 .n2-ss-slider-1 {
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 800px;
  border-style: solid;
  border-width: 0px;
  border-color: #3e3e3e;
  border-color: RGBA(62, 62, 62, 1);
  border-radius: 0px;
  background-clip: padding-box;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
div#n2-ss-2 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div#n2-ss-2 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
}
.x-firefox div#n2-ss-2 .n2-ss-slider-2 {
  opacity: 0.99999;
}
div#n2-ss-2 .n2-ss-slider-3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
}
div#n2-ss-2 .n2-ss-slide-backgrounds,
div#n2-ss-2 .n2-ss-slider-3 > .n-particles-js-canvas-el,
div#n2-ss-2 .n2-ss-slider-3 > .n2-ss-divider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-slide-backgrounds {
  z-index: 10;
}
div#n2-ss-2 .n2-ss-slider-3 > .n-particles-js-canvas-el {
  z-index: 12;
}
div#n2-ss-2 .n2-ss-slide-backgrounds > * {
  overflow: hidden;
}
div#n2-ss-2 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: block;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-2 .n2-ss-layers-container {
  position: relative;
  width: 1920px;
  height: 800px;
}
div#n2-ss-2 .n2-ss-parallax-clip > .n2-ss-layers-container {
  position: absolute;
  right: 0;
}
div#n2-ss-2 .n2-ss-slide {
  perspective: 1500px;
}
div#n2-ss-2[data-ie] .n2-ss-slide {
  perspective: none;
  transform: perspective(1500px);
}
div#n2-ss-2 .n2-ss-slide-active {
  z-index: 21;
}
div#n2-ss-2 .nextend-arrow {
  cursor: pointer;
  overflow: hidden;
  line-height: 0 !important;
  z-index: 20;
}
div#n2-ss-2 .nextend-arrow img {
  position: relative;
  min-height: 0;
  min-width: 0;
  vertical-align: top;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline;
}
div#n2-ss-2 .nextend-arrow img.n2-arrow-hover-img {
  display: none;
}
div#n2-ss-2 .nextend-arrow:hover img.n2-arrow-hover-img {
  display: inline;
}
div#n2-ss-2 .nextend-arrow:hover img.n2-arrow-normal-img {
  display: none;
}
div#n2-ss-2 .nextend-arrow-animated {
  overflow: hidden;
}
div#n2-ss-2 .nextend-arrow-animated > div {
  position: relative;
}
div#n2-ss-2 .nextend-arrow-animated .n2-active {
  position: absolute;
}
div#n2-ss-2 .nextend-arrow-animated-fade {
  transition: background 0.3s, opacity 0.4s;
}
div#n2-ss-2 .nextend-arrow-animated-horizontal > div {
  transition: all 0.4s;
  left: 0;
}
div#n2-ss-2 .nextend-arrow-animated-horizontal .n2-active {
  top: 0;
}
div#n2-ss-2
  .nextend-arrow-previous.nextend-arrow-animated-horizontal:hover
  > div,
div#n2-ss-2 .nextend-arrow-next.nextend-arrow-animated-horizontal .n2-active {
  left: -100%;
}
div#n2-ss-2
  .nextend-arrow-previous.nextend-arrow-animated-horizontal
  .n2-active,
div#n2-ss-2 .nextend-arrow-next.nextend-arrow-animated-horizontal:hover > div {
  left: 100%;
}
div#n2-ss-2 .nextend-arrow.nextend-arrow-animated-horizontal:hover .n2-active {
  left: 0;
}
div#n2-ss-2 .nextend-arrow-animated-vertical > div {
  transition: all 0.4s;
  top: 0;
}
div#n2-ss-2 .nextend-arrow-animated-vertical .n2-active {
  left: 0;
}
div#n2-ss-2 .nextend-arrow-animated-vertical .n2-active {
  top: -100%;
}
div#n2-ss-2 .nextend-arrow-animated-vertical:hover > div {
  top: 100%;
}
div#n2-ss-2 .nextend-arrow-animated-vertical:hover .n2-active {
  top: 0;
}
div#n2-ss-2 .n2-font-6067027115372855b05623370f08ba1a-hover {
  font-family: "Cabin";
  color: #000000;
  font-size: 225%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 400;
}
div#n2-ss-2 .n2-style-a0ee0d89b3e63a8a9572d38f277921d6-heading {
  background: #ffffff;
  background: RGBA(255, 255, 255, 0.72);
  opacity: 1;
  padding: 20px 0px 20px 0px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  border-color: RGBA(0, 0, 0, 1);
  border-radius: 0px;
}
/* du an============================= */
.inner-container {
  max-width: 1290px !important;
}

.full-header-top,
.more-post,
.home-btn,
div.swiper-button-next,
div.swiper-button-prev,
#bttop,
.li_tabs span:hover,
.li_tabs.active span,
body.woocommerce #respond input#submit:hover,
body.woocommerce a.button:hover,
body.woocommerce button.button:hover,
body.woocommerce input.button:hover {
  background-image: linear-gradient(90deg, #61c73f, #1f8538) !important;
}
.home-btn:hover,
.more-post:hover,
div.swiper-button-next:hover,
div.swiper-button-prev:hover,
.lv-btn a:hover {
  background-image: linear-gradient(90deg, #1f8538, #61c73f) !important;
}
.bff-wrap {
  background-image: linear-gradient(
    138deg,
    #1f8538 30%,
    #61c73f 100%
  ) !important;
}
input.wpcf7-form-control.wpcf7-submit {
  background-image: -webkit-linear-gradient(0deg, #1f8538 8%, #61c73f 89%);
}
.ab-box2 .col-item:nth-child(2n) .abbox2-item,
.ab-box1-loop .col-item:nth-child(2n + 1) .abbox1-item {
  background-image: linear-gradient(to right, #1f8538, #61c73f) !important;
}
.lv-btn a {
  background-image: linear-gradient(90deg, #61c73f, #1f8538) !important;
} /* Màu chính */
.mxh a {
  background-color: rgba(31, 133, 56, 0.2) !important;
}
.hlv-meta .lv-read,
ul.yith-wcan-list li a,
ul.yith-wcan-list li::before,
body.woocommerce #respond input#submit,
body.woocommerce a.button,
body.woocommerce button.button,
body.woocommerce input.button {
  color: #1f8538 !important;
}
div .swiper-pagination-bullet {
  border-color: rgba(31, 133, 56, 0.5) !important;
}
.single-post .entry-header {
  border-color: #1f8538 !important;
} /* Màu thứ cấp */
.right-header-top a span {
  background-color: rgba(97, 199, 63, 0.6) !important;
}
.single-heading-lv {
  color: #61c73f !important;
}
.abbox2-item h3,
.block-filter,
.woocommerce .full-content ul.products li.product {
  border-color: #61c73f !important;
} /* Màu tương phản */
input.wpcf7-form-control.wpcf7-submit:hover,
.item_post:hover .post_date,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #f58633 !important;
}
.post_date {
  color: #f58633 !important;
}
a:hover {
  color: #f58633;
}
.item_post:hover .post_date {
  border-color: #f58633 !important;
}
.kh-thanthiet-img {
  border-color: rgba(245, 134, 51, 0.6) !important;
}
